@charset "utf-8";

html{
  width: 100dvw;
  height: auto;
  
  margin: 0;
  padding: 0;

  background-color: var(--base1);

  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-size: 10px;
}

body{
  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;
}

/* ================================================== */

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;

  width: calc(100% - 10% * 2);
  height: 6rem;

  margin: 0;
  padding: 0 10%;

  background-color: var(--base3);
}

header>p{
  display: block;

  width: fit-content;
  height: auto;

  margin: 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 2rem;

  line-height: 6rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

header>a{
  display: block;

  width: fit-content;
  height: auto;

  margin: 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 2rem;

  line-height: 6rem;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0;
}

body>span{
  display: block;

  width: 100%;
  height: 5rem;

  margin: 0 0 2rem 0;
  padding: 0;
}

/* ================================================== */

div#description{
  display: block;

  width: 80%;
  height: auto;

  margin: 0 auto;
  padding: 0;
}

div#description>p{
  display: block;

  width: 100%;
  height: auto;

  margin: 0;
  padding: 0;

  color: var(--text1);
  font-family: "Jost", "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;

  line-height: 2rem;
  text-align: justify;
  text-decoration: none;
  letter-spacing: 0;
}

/* ================================================== */

main{
  width: 80%;
  height: auto;

  margin: 0 auto;
  padding: 0;
}